

.imagenes {
    border: 1px solid #160050;
    border-radius: 20px;
    height: 400px;
    width: 650px;
    overflow: hidden;
    box-shadow: 0 0 40px #00cccc;
    /*overflow: hidden;*/
}

.imagenes div {
    display: flex;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.imagenes div a{
    text-align: center;
    background-color: white;
    font-weight: bold;
}

.botones {/* Div que alberga los botones del carrusel*/
    width: 650px;
    text-align: center;
}

.botones label {
    border: 2px solid #000000;
    border-radius: 3px;
    width: 1px;
    height: 1px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 5px 0 5px;
}

.botonActivo {
    background-color: #00cccc;
    border-color: red;

}

.botones label:hover {
    cursor: pointer;
}

.sUno{/* Centrado de carrusel*/
    display: flex;
    justify-content: center;
}

@media (max-width: 662px) {
    .contenedor {
        transform: scale(0.7);
    }
}

@media (max-width: 500px) {
    .contenedor {
        transform: scale(0.6);
    }
}

@media (max-width: 450px) {
    .contenedor {
        transform: scale(0.5);
    }
}
