@font-face {
    font-family: CaviarNegrita;
    src: url(../fuentes/CaviarDreams_Bold.ttf);
}

*{
    outline: none;
}



.titulo {
    background-color: #00CCCC;
    text-align: center;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 50px 20px;
    font-family: CaviarNegrita;
}

.tabla02 {
    width: 70%;
    margin: 20px auto auto auto;
    text-align: center;
}


/*BOCADILLO HOVER*/
.bocadillo {
    position: relative;
    display: inline-block;
}

.bocadillo .textoBocadillo {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #00CCCC;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.bocadillo button{
    background-color: transparent;
    border: none;
    width: 30px;
    heigt: 30px;
}

.bocadillo button:hover{
    cursor: pointer;
}
.bocadillo button img{
    width: inherit;
    heigt: inherit;
}

.bocadillo .textoBocadillo::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
}

.bocadillo:hover .textoBocadillo {
    visibility: visible;
} 

.cajabusqueda{
    color: #00CCCC;
    width: 45%;
    margin: 0 auto;
    font-weight: bold;
    border: 1px solid #00CCCC;
    padding: 5px;
    border-radius: 10px;
    background-color: #002147;
    box-shadow: 5px 5px 10px #00CCCC;
    
}

.cajabusqueda input:first-of-type{
    line-height: 30px; 
    width: 60%;
    font-size: 1.2em; 
    border-radius: 10px;
}

.tabla02 tr:first-of-type {
    color: #00CCCC;
    background-color: black;
    height: 60px;
    padding-bottom: 5px;
}


.tabla02 tr {
    color: black;
    height: 40px;
    font-family: CaviarNegrita;
}


.login{
    float: right;
    width: 280px;
    margin: 0 auto;
    padding: 20px 5px 20px 5px;
}



@media (max-width: 1316px) {
    .login{
        float: none;
        margin: 0 auto;
    }

}